<h3>My Recipes</h3>
<ul>
<button class="btn waves-effect waves-light"><%= link_to 'Add New Recipe', new_recipe_path %></button>
<br>
<br>
<%@user_recipes.each do |recipe|%>
<br>
<div id="display-image"
  <li><%=recipe.name%> <%= link_to 'More info', recipe%></li>
  <% if recipe.image_url %>
  <li><img class="recipe-img" src= "<%=recipe.image_url%>"></li>
  <% end%>
</div>
<br>
<%end%>
</ul>
